<% if user_signed_in? %>
  <%= link_to '¡Creá tu pregunta acá!', "questions/new", class: 'btn btn-primary btn-block',role: 'button' %>
<% end %>
<% @questions.each do |preg| %>
   <hr>
        <h3>
            <li><%= link_to preg.title, preg %></li>
        </h3>
    <hr>
<% end %>
