<<<<<<< HEAD
<h1>StaticViews#about</h1>
<p>Find me in app/views/static_views/about.html.erb</p>
=======
<hr>
<center>
<p>
Educanding es un sitio orientado a la educación de forma interactiva<br>
mediante preguntas y respuestas hechas por los mismos usuarios.
</p>

</center>
<hr>
>>>>>>> 225a62d31156a209a75dc1b35412e851c9351497
