<<<<<<< HEAD
<h1>StaticViews#contact</h1>
<p>Find me in app/views/static_views/contact.html.erb</p>
=======
<hr>
<center><h1>educanding@universidad.com.ar</h1></center>
<hr>
>>>>>>> 225a62d31156a209a75dc1b35412e851c9351497
