<% if user_signed_in? %>

    <p><ul><li> <%= link_to "Crear categoría", new_tag_path %> </ul></li></p>

<% end %>

<% @tags.each do |tag| %>

        <p>

            <ul><li> <%= tag.content %> - usada <%= tag.usos %> veces </li></ul>

        </p>

<% end %>
