body {
  padding-top: 120px;
  h3 {
  padding-left: 2cm;
  }
  li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  }
}

header {
  .navbar-inverse .navbar-brand {
    color: white;
    font-size: 2em;
    height: 125px;
  }
  .navbar-brand>img {
    display: inline-block
  }

  .btn-prymary-spacing {
	margin-top: 45px;
  }

  .wrapper{
     display: inline-block;
  }

}
