<!-- AnswersComment Form -->
<%= form_for @answer_comment do |f| %>
<div class="container">
<div class="form-group">
<%= f.text_area :content, class:"form-control", rows:"3" , required: true, placeholder: 'Escrbí tu comentario acá' %>
<%= f.hidden_field :answer_id, value: @answer_original %>
<div>
  <%= f.submit 'Comentar',class:'btn btn-primary',role: 'button' %>
</div>
</div>
</div>
<% end %>
