<div class="jumbotron">
  <h2> Universidades encontradas: </h2>
  <% @search_universities.each do |uni| %>
     <hr>
      <h3>
      <li><%= link_to uni.name, uni %> </li>
      </h3>
      <hr>
  <% end %>
  </div>
